@use "../../foundation/mixin" as *;

.u-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
  @include breakpoint(pc){
    grid-template-columns: 80% 1fr;
    grid-template-rows: 140px 1fr 125px;
  }
}