@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.wp-pagenavi {
  padding: 10px 0 30px;
  display: flex;
  justify-content: space-between;
  @include breakpoint(tablet) {
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 50px;
  }
  @include breakpoint(pc) {
    padding-bottom: 60px;
  }
  .pages {
    display: none;
    @include breakpoint(tablet) {
      display: block;
    }
  }
  .current, a.page {  //数字ページ送り
    display: none;
    @include breakpoint(tablet) {
      display: flex;
      column-gap: 15px;
      position: relative;
      border: solid 1.5px $color-font-70;
      padding: 5px 10px;
    }
  }
  .first, .last {
    display: none;
  }
}